{% extends 'admin/base.html.twig' %}

{% block title %}Edit Category - Admin Panel{% endblock %}

{% block content %}
<div class="admin-header">
    <h1>Edit Category: {{ category.name }}</h1>
    <a href="{{ path('admin.category.index') }}" class="btn btn-secondary">
        {{ svg('img/icons/arrow-left.svg', {class: 'icon'}) }}
        Back to list
    </a>
</div>

<div class="form-container">
    {{ include('admin/pages/category/_form.html.twig') }}
</div>
{% endblock %}

