<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WSEI E-Commerce - {% block title %}Admin Panel{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/admin/main.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="admin-layout">
            <aside class="admin-sidebar">
                {% include 'admin/_menu.html.twig' %}
            </aside>

            <main class="admin-content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>

