parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$token of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:isCsrfTokenValid\(\) expects string\|null, bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Admin/AddressController.php

		-
			message: '#^Parameter \#2 \$token of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:isCsrfTokenValid\(\) expects string\|null, bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Admin/CategoryController.php

		-
			message: '#^Parameter \#2 \$token of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:isCsrfTokenValid\(\) expects string\|null, bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Admin/CustomerController.php

		-
			message: '#^Parameter \#2 \$token of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:isCsrfTokenValid\(\) expects string\|null, bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Admin/ProductController.php

		-
			message: '#^Parameter \#1 \$customerId of method Wsei\\Ecommerce\\Repository\\AddressRepository\:\:findByCustomer\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/EcommerceApi/V1/Customer/CustomerAddressController.php

		-
			message: '#^Parameter \#2 \$customerId of method Wsei\\Ecommerce\\Repository\\AddressRepository\:\:findOneByCustomer\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/EcommerceApi/V1/Customer/CustomerAddressController.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, iterable\<Wsei\\Ecommerce\\Entity\\Address\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/EcommerceApi/Response/Entity/AddressListResponse.php

		-
			message: '#^Cannot call method format\(\) on DateTimeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EcommerceApi/Response/Entity/ApiTokenResponse.php

		-
			message: '#^Cannot call method getId\(\) on Wsei\\Ecommerce\\Entity\\Product\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EcommerceApi/Response/Entity/CartItemResponse.php

		-
			message: '#^Cannot call method getName\(\) on Wsei\\Ecommerce\\Entity\\Product\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EcommerceApi/Response/Entity/CartItemResponse.php

		-
			message: '#^Cannot call method getPriceGross\(\) on Wsei\\Ecommerce\\Entity\\Product\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EcommerceApi/Response/Entity/CartItemResponse.php

		-
			message: '#^Cannot call method getPriceNet\(\) on Wsei\\Ecommerce\\Entity\\Product\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EcommerceApi/Response/Entity/CartItemResponse.php

		-
			message: '#^Method Wsei\\Ecommerce\\Entity\\Customer\:\:getPassword\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/Customer.php

		-
			message: '#^Method Wsei\\Ecommerce\\Entity\\Customer\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/Customer.php

		-
			message: '#^Method Wsei\\Ecommerce\\Entity\\User\:\:getPassword\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Method Wsei\\Ecommerce\\Entity\\User\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Parameter \#2 \$cartId of method Wsei\\Ecommerce\\Repository\\CartItemRepository\:\:findOneByCart\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Cart/CartService.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Twig/SvgExtension.php

		-
			message: '#^Call to an undefined method object\:\:flush\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/IntegrationTest/EcommerceApi/V1/CartControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:hashPassword\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/IntegrationTest/EcommerceApi/V1/CartControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:persist\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/IntegrationTest/EcommerceApi/V1/CartControllerTest.php

		-
			message: '#^Cannot call method getToken\(\) on Wsei\\Ecommerce\\Entity\\ApiToken\|null\.$#'
			identifier: method.nonObject
			count: 22
			path: tests/IntegrationTest/EcommerceApi/V1/CartControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 13
			path: tests/IntegrationTest/EcommerceApi/V1/CartControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:find\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/IntegrationTest/EcommerceApi/V1/Customer/CustomerAddressControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:flush\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/IntegrationTest/EcommerceApi/V1/Customer/CustomerAddressControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:hashPassword\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/IntegrationTest/EcommerceApi/V1/Customer/CustomerAddressControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:persist\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/IntegrationTest/EcommerceApi/V1/Customer/CustomerAddressControllerTest.php

		-
			message: '#^Cannot call method getToken\(\) on Wsei\\Ecommerce\\Entity\\ApiToken\|null\.$#'
			identifier: method.nonObject
			count: 6
			path: tests/IntegrationTest/EcommerceApi/V1/Customer/CustomerAddressControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/IntegrationTest/EcommerceApi/V1/Customer/CustomerAddressControllerTest.php

		-
			message: '#^Call to an undefined method object\:\:login\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/IntegrationTest/ExampleIntegrationTest.php

		-
			message: '#^Parameter \$content of class Symfony\\Component\\HttpFoundation\\Request constructor expects resource\|string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/IntegrationTest/ExampleIntegrationTest.php

		-
			message: '#^Property Wsei\\Ecommerce\\Tests\\IntegrationTest\\ExampleIntegrationTest\:\:\$customerRepository \(Wsei\\Ecommerce\\Repository\\CustomerRepository\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/IntegrationTest/ExampleIntegrationTest.php

		-
			message: '#^Property Wsei\\Ecommerce\\Tests\\IntegrationTest\\ExampleIntegrationTest\:\:\$entityManager \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/IntegrationTest/ExampleIntegrationTest.php

		-
			message: '#^Property Wsei\\Ecommerce\\Tests\\IntegrationTest\\ExampleIntegrationTest\:\:\$passwordHasher \(Symfony\\Component\\PasswordHasher\\Hasher\\UserPasswordHasherInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/IntegrationTest/ExampleIntegrationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/UnitTest/ExampleTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
