{% extends 'admin/base.html.twig' %}

{% block title %}Shop Settings{% endblock %}

{% block content %}
<div class="admin-container">
    <div class="admin-header">
        <h1>Shop Settings</h1>
    </div>

    {% if settings is empty %}
        <div class="card">
            <p>No configuration settings available.</p>
        </div>
    {% else %}
        <div class="settings-grid">
            {% for setting in settings %}
                <a href="{{ setting.url }}" class="setting-card">
                    <div class="setting-card-icon">
                        {{ svg('img/icons/' ~ setting.icon, {class: 'icon'}) }}
                    </div>
                    <div class="setting-card-content">
                        <h3 class="setting-card-title">{{ setting.name }}</h3>
                        {% if setting.description %}
                            <p class="setting-card-description">{{ setting.description }}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}

