name: Playwright Tests
on:
  push:
    branches: [ master ]
    paths:
      - 'ecommerce/**'
      - 'e2e-tests/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'ecommerce/**'
      - 'e2e-tests/**'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      working-directory: e2e-tests
      run: npm ci
    - name: Install Playwright Browsers
      working-directory: e2e-tests
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      working-directory: e2e-tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: e2e-tests/playwright-report/
        retention-days: 30
